services:
  db:
    image: postgres:17
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydatabase
    ports:
      - "5432:5432"  # This allows host access
    volumes:
      - postgres_data:/var/lib/postgresql/data

 # DATABASE_URL: "postgresql://user:password@db:5432/mydatabase"

volumes:
  postgres_data: